{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-2">
            {% if en %}
                <h3>language :</h3>
            {% else %}
                <h3>Langue :</h3>
            {% endif %}
        </div>
        <div class="col-5">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('click') }}"><img src="../images/fr.png" alt="fr">
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('clickEng') }}"><img src="../images/us.png" alt="us"></a>
                </li>
            </ul>
        </div>
    </div>
    {% if en %}
        <h1> Greeting and Welcome ! </h1>
        <h3> You wanna play a game ? </h3>
    {% else %}
        <h1> Salutations et bienvenue ! </h1>
        <h3> Tu veux jouer à un jeu ? </h3>
    {% endif %}
    
    {% if users|length > 0 %}   
        <div id="podium">
            <div id="premier" class="row">
                {% if users[0] is defined %}
                    <p><span class="reward">🥇</span><br> {{users[0].name}} </p>
                {% endif %}
            </div>
            <div class="row">
                <div id="deuxième" class="col">
                    {% if users[1] is defined %}
                        <p> <span class="reward">🥈</span><br> {{users[1].name}} </p>
                    {% endif %}    
                </div>
                <div id="troisième" class="col">
                    {% if users[2] is defined %}
                        <p><span class="reward">🥉</span><br> {{users[2].name}} </p>
                    {% endif %}
                </div>
                <col>
            </div>
        </div>
        {% else %}
        <hr>
    {% endif %}

    <div class="row" style="justify-content: center;">
        {% if not(en) %}
            <p id="clics">Clics: <span id="nbclique"></span>🖱️</p>
        {% else %}
            <p id="clics">Clicks: <span id="nbclique"></span>🖱️</p>
        {% endif %}
    </div>
    <div class="row">
        {% if not(en) %}
            <button id="reset" class="btn btn.secondary">Recommencer🔄</button>
        {% else %}
            <button id="reset" class="btn btn.secondary">Reset🔄</button>
        {% endif %}
    </div>
    <div class="row">
        {% if not(en) %}
            <button id="clique" class="btn primary">CLIQUE !</button>
        {% else %}
            <button id="clique" class="btn primary">CLICK !</button>
        {% endif %}
    </div>

    <h3><span id="time"></span>⏱️</h3>
    <hr>

    <div class="row" style="justify-content: center;">
        {% if not(en) %}
            <p>Entre ton pseudo pour impressionner tes amis.</p>
        {% else %}
            <p>Enter your nickname to impress your friends.</p>
        {% endif %}
    </div>
    <div class="row">
        {{form_start(form)}}
            {{form_row(form._token)}}
            {{form(form)}}
        {{ form_end(form)}}
    </div>

    <hr>

    <div class="row" style="justify-content: center;">
        {% if not(en) %}
            <p>Voici le classement des 10 meilleurs joueurs !</p>
        {% else %}
            <p>Here is the ranking of the 10 best players !</p>
        {% endif %}
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            {% if not(en) %}
                <th scope="col">Pseudo</th>
                <th scope="col">Clis</th>
            {% else %}
                <th scope="col">Nickname</th>
                <th scope="col">Clicks</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
            {% for i in 0..(users|length)-1 %}    
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{users[i].name}}</td>
                    <td>{{users[i].clics}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}

{% block javascripts %}
    {% include "js.html.twig" %}    
{% endblock javascripts %}
